*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    font-family: sans-serif;
}
.profaile{
    width: 40%;
    float:right;
}
.profaile img{
    width: 100%;
    height:100%;
}

